<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   <!-- 接收login请求 -->
   <servlet>
   	 <servlet-name>fromLogin</servlet-name>
   	 <servlet-class>com.controller.LoginController</servlet-class>
   </servlet>
   <servlet-mapping>
   	 <servlet-name>fromLogin</servlet-name>
   	 <url-pattern>/fromLogin</url-pattern>
   </servlet-mapping>
   <servlet>
   	 <servlet-name>listUser</servlet-name>
   	 <servlet-class>com.controller.UserController</servlet-class>
   </servlet>
   <servlet-mapping>
   	 <servlet-name>listUser</servlet-name>
   	 <url-pattern>/listUser</url-pattern>
   </servlet-mapping>
    <servlet>
   	 <servlet-name>menu</servlet-name>
   	 <servlet-class>com.controller.MenuController</servlet-class>
   </servlet>
   <servlet-mapping>
   	 <servlet-name>menu</servlet-name>
   	 <url-pattern>/showMenus</url-pattern>
   </servlet-mapping>
</web-app>